/* Цвет основного текста - #757575 */
/* цвет вторичного текста - #212121 */
/* Цвет текста hero - #FFFFFF*/
/* Цвет акцента - #2196F3 */
/* background-color - #F5F5F5 */

:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --page-bg-color: #f5f5f5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--page-bg-color);
  color: var(--primari-text-color);
}
/*---------------- header---------------- */
